*.el~
/auto-save-list/*
/elpa/*
/xkcd/*
/request/*
irony/bin/irony-server
.DS_Store
/.cache/
/transient/
/#init.el#
/backup/
/recentf
/url/
/projectile-bookmarks.eld
/bookmarks
/recentf~
/plugins/visual/#dashboard.el#
/plugins/visual/.#tabbar.el
/plugins/utilities/#undo-tree.el#
/plugins/visual/#all-the-icons.el#
/plugins/visual/#tabbar.el#
/plugins/programming-language/flycheck_elisp.el
/server/
/#CPP.org#
/plugins/utilities/.undo-tree.el.~undo-tree~
